<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kakaboc.worktimer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.kakaboc.worktimer.main.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.kakaboc.worktimer.services.WorkTimeService">
            <intent-filter>
                <action android:name="com.kakaboc.worktimer.action_start" />
                <action android:name="com.kakaboc.worktimer.action_stop" />
                <action android:name="com.kakaboc.worktimer.action_save" />
            </intent-filter>
        </service>

        <activity android:name="com.kakaboc.worktimer.statistic.StatisticsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kakaboc.worktimer.main.MainActivity" />
        </activity>
    </application>

</manifest>